{
    "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true
    },
    "plugins": [
      "react",
        "jsx-a11y",
        "import",
        "promise"
    ],
    "rules": {
      "no-underscore-dangle": 0,
      "no-param-reassign": [2, { "props": false }],
      "react/forbid-prop-types": 0,
      "class-methods-use-this": 0,
      "react/jsx-filename-extension": 0,
      "react/prop-types": 0,
      "react/no-array-index-key": 0,
      "no-nested-ternary": 0,
      "react/no-direct-mutation-state": 0,
    }
}
